In [1]:
from utils.linkage import deduplicate_perfect_matches
from utils.constants import BASE_FILEPATH
import pandas as pd

In [2]:
inds_sample = pd.read_csv(BASE_FILEPATH / "output" / "complete_individuals_table.csv", index_col=0, low_memory=False)
orgs_sample = pd.read_csv(BASE_FILEPATH / "output" / "complete_organizations_table.csv", index_col=0)
inds_sample.head(5)

,id,first_name,last_name,full_name,entity_type,state,party,company
0,1869727,NaN,NaN,william stoner,individual,NaN,NaN,NaN
1,1779679,NaN,NaN,rm coulon,individual,NaN,NaN,area agency on aging
2,2277221,NaN,NaN,james engelson,individual,NaN,NaN,retired
3,2277156,NaN,NaN,marivic franciaskinner,individual,NaN,NaN,fibre source international corp
4,2341373,NaN,NaN,anthony grindle,individual,NaN,NaN,zimmerbiomet

In [3]:
deduplicated_inds = deduplicate_perfect_matches(inds_sample)
deduplicated_orgs = deduplicate_perfect_matches(orgs_sample)

In [4]:
test = pd.read_csv(BASE_FILEPATH / "output" / "deduplicated_UUIDs.csv")
test.head(5)

                       duplicated_uuids                          mapped_uuids
0  af6dd8b5-21d4-4ab3-b0e9-b6e617e4837b  af6dd8b5-21d4-4ab3-b0e9-b6e617e4837b
1  d2ed5639-be25-40aa-bfbc-7b8bb3bba62a  d2ed5639-be25-40aa-bfbc-7b8bb3bba62a
2  054e4f1d-aec7-4188-968d-4429748f2fe6  054e4f1d-aec7-4188-968d-4429748f2fe6
3  c0a31a0d-fc53-42e5-9dfc-23dfbf8c3b74  c0a31a0d-fc53-42e5-9dfc-23dfbf8c3b74
4  81125483-336e-4d48-9f4b-5708e91c3835  81125483-336e-4d48-9f4b-5708e91c3835

In [5]:
dedup_inds_id = set(deduplicated_inds.id.tolist())
dedup_orgs_id = set(deduplicated_orgs.id.tolist())
test_ids = set(test.duplicated_uuids.tolist())

dedup_orgs_id.issubset(test_ids)

True

In [10]:
len(deduplicated_inds.id.tolist()), len(dedup_inds_id)

(612181, 526145)